  #active {
    color: red;
    text-decoration: underline;
  }

  a {
    color: blue;
    text-decoration: none;
  }

  li {
    color: green;
  }

  h1 {
    font-size: 40px;
    text-align: center;
    border-bottom: 3px solid gray;
    margin: 0px;
    padding: 20px;
  }

  #grid ol {
    border-right: 3px solid gray;
    margin: 0px;
    width: 160px;
    padding: 30px;
    padding-left: 52px;
  }

  #grid {
    display: grid;
    grid-template-columns: 200px 1fr;
  }

  #grid #article {
    padding-left: 65px;
  }

  img {
    transition: transform 2s
  }

  img:hover {
    transform: rotate(2deg);
  }

  @media(max-width: 900px) {
    #grid {
      display: block;
    }

    #grid ol {
      border-right: none;
      padding: 15px;
    }

    h1 {
      border-bottom: none;
    }

    #grid #article {
      padding: 0px;
    }

    body {
      background-position: top;
      background-size: 1000px
    }
  }

  body {
    margin-top: 0px;
  }

  body {
    background: url("38237327-ea8234e0-3761-11e8-8524-b42d30e8d834.png") no-repeat;
    background-position: left;
    background-size: 250px;
    background-color: powderblue;
  }

  body #button-location{
    margin-left: 0px;
  }
